/* home page navigation menu item */
.nav-menu-title{
   font-size: medium;
   margin-top: 2px;
   margin-bottom: 2px;
   margin-right: 15px;
}
/* round menu item*/
.home .menu {
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
}
/* navigation bar transparent*/
.nav-transparent{
   background: rgba(246,246,246,1);
   border: transparent;
background: -moz-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,0.92) 54%, rgba(255,255,255,0.9) 70%, rgba(237,237,237,0.86) 100%);
background: -webkit-gradient(left top, right top, color-stop(0%, rgba(246,246,246,1)), color-stop(54%, rgba(246,246,246,0.92)), color-stop(70%, rgba(255,255,255,0.9)), color-stop(100%, rgba(237,237,237,0.86)));
background: -webkit-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,0.92) 54%, rgba(255,255,255,0.9) 70%, rgba(237,237,237,0.86) 100%);
background: -o-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,0.92) 54%, rgba(255,255,255,0.9) 70%, rgba(237,237,237,0.86) 100%);
background: -ms-linear-gradient(left, rgba(246,246,246,1) 0%, rgba(246,246,246,0.92) 54%, rgba(255,255,255,0.9) 70%, rgba(237,237,237,0.86) 100%);
background: linear-gradient(to right, rgba(246,246,246,1) 0%, rgba(246,246,246,0.92) 54%, rgba(255,255,255,0.9) 70%, rgba(237,237,237,0.86) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f6f6', endColorstr='#ededed', GradientType=1 );
}
/* Search bar*/
.search {
   /*opacity: 0.5;*/
   text-align: center;
   position: absolute;
   top: 60%;
   width: 100%;
}
.depth {
    display: inline-block;
    width: 30%;
    border: 1px solid #f0f0f0;
    background: #f0f0f0;
    /*transition: all 0.3s ease-out;*/
    /*box-shadow:*/
        /*inset 0 1px 4px rgba(0,0,0,0.4);*/
    padding: 5px;
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
}
/* testimoniaral */
h2{
	position: relative;
}
h2::after{
	content: "";
	width: 130px;
	position: absolute;
	margin: 0 auto;
	height: 3px;
	background: #FFC107;
	left: 0;
	right: 0;
	bottom: -10px;
}
.carousel-inner .carousel-item .img-box{
	width: 135px;
	height: 135px;
}
.carousel-control-prev{
	left: -100px;
}
.carousel-control-next{
	right: -100px;
}
.carousel-indicators{
	top: 320px;
}
@media (min-width: 320px) and (max-width: 640px) {
	.carousel-inner .carousel-item p{
		font-size: 14px;
	}
	.carousel-control-prev{
		left: -40px;
	}
	.carousel-control-next{
		right: -40px;
	}
 	.carousel-indicators{
		top: 400px;
	}
}
/* asasasa */
body, html {
    font-family: 'Roboto Condensed', sans-serif;
  /*background:linear-gradient(rgba(55,55,55, 0.1),rgba(55, 55, 55, 0.1)),url(http://nicesnippets.com/demo/Badroom-Interior.jpg) no-repeat;*/
}
.main-section{

    /*background-size: cover;*/
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    padding: 150px 15px 60px 15px;
}
.main-section h1{
    font-size:45px;
}
.select-part-section{
    background: #fff;
    position: relative;
    left:50%;
    transform: translateX(-50%);
    border-radius: 3px 0px 0px 3px !important;
}
.select-part-section select{
    background: #fff;
}
.select-part-section .form-control{
    border:1px solid #fff;
    box-shadow: none;
}
.select-part-section .form-control option{
    border:1px solid #fff;
    padding:20px !important;
}
.search-btn{
    padding:10px;
}