body, html {
  font-family: 'Roboto Condensed', sans-serif;
}
.nav-menu-title{
   font-size: medium;
   margin-top: 2px;
   margin-bottom: 2px;
   margin-right: 15px;
  font-weight: bold;
}
/* navigation bar transparent*/
.nav-transparent {
  background: #f2f2f2;
  opacity: 0.9;
}