body, html {
  font-family: 'Roboto Condensed', sans-serif;
  background: url(https://lmstheme.wpengine.com/wp-content/uploads/2014/08/fullscreen-slider.jpg) no-repeat;
  width: 100%;
  background-size: cover;
}

.nav-menu-title {
  font-size: medium;
  margin-top: 2px;
  margin-bottom: 2px;
  margin-right: 15px;
  font-weight: bold;
}

/* navigation bar transparent*/
.nav-transparent {
  background: #f2f2f2;
  opacity: 0.9;
}

#item > li {
  color: #0f0f0f;
}

.main-section {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 28% 0% 0% 0%;
  margin-bottom: 200px;
}

.main-section h1 {
  font-size: 35px;
}

.select-part-section {
  background: #fff;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 3px 0px 0px 3px !important;
}

.search-btn {
  padding: 10px;
}

.count {
  margin-top: 15px;
  font-size: 28px;
  font-weight: 600;
}
/* end */

/* ========= testimonial =========== */
h2 {
  position: relative;
}

h2::after {
  content: "";
  width: 130px;
  position: absolute;
  margin: 0 auto;
  height: 3px;
  background: #FFC107;
  left: 0;
  right: 0;
  bottom: -10px;
}

.carousel-inner .carousel-item .img-box {
  width: 135px;
  height: 135px;
}

.carousel-control-prev {
  left: -100px;
}

.carousel-control-next {
  right: -100px;
}

.carousel-indicators {
  top: 320px;
}

@media (min-width: 320px) and (max-width: 640px) {
  .carousel-inner .carousel-item p {
    font-size: 14px;
  }

  .carousel-control-prev {
    left: -40px;
  }

  .carousel-control-next {
    right: -40px;
  }

  .carousel-indicators {
    top: 400px;
  }
  /* ========= end testimonial ======= */
}